all:
  children:
    managed_nodes:
      hosts:
%{ for i in vms ~}
        ${i.name}:
          ansible_host: ${i.network_interface.0.nat_ip_address}
          # Мы берем пользователя для облачных ВМ 
          ansible_user: ubuntu
%{ endfor ~}
  vars:
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    # Отключаем проверку ключей, так как IP у облачных ВМ часто меняются
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
